<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.weatherman">

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/weatherman_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/weatherman_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weatherman"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".activity.LocationSelectorActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DashBoard"
            android:exported="true" />
        <activity
            android:name=".activity.Verification_Screen"
            android:exported="true" />
        <activity
            android:name=".activity.Login_Screen"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GifActivity"
            android:exported="false" />
        <activity
            android:name=".activity.YouTubeDetailActivity"
            android:exported="false" />
        <activity android:name=".activity.BlogDetailsActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="@string/admob_id"/>-->
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

    </application>

</manifest>